.bg_proto {
	background: #333333;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffffff, #80191f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffffff, #80191f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	h1 {
		font-size: 2.2rem;
	}
}