.press_sec{  
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 10rem 0px;
    margin: 0px;
    text-align: center;
    
}
.press_slide{
    background-color: #ffdc69;
        .press_slide_category{
            a{
                padding-right: 30px;
            }
            menu{
                background-color:white;
                color: #cf9e00;
                border-radius: 15px;
                border: white;
            }

               
        }

}