.press_sec {
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 10rem 0px;
    margin: 0px;
    text-align: center;
}
.press_gisa{
    background-color: #cbf2d6;
}
.press_gisa_title{
    h3{
        margin-bottom:30px;
    }
}
.gisaList{
    list-style: none;
    width:400px;
    left: 0; right: 0; top:0;bottom:0;margin: auto;
    border-top: solid lightgray 1px;
    padding: 0;
    .gisas{ 
            border-bottom: solid lightgray 1px;
        .pressnm{
            font-size:10px;
           }
           .gisaDate{
               color:lightgray;
               font-size: 10px;
           }
           .gisaTitle{
               font-size: 15px;
           }
        a{
            color: black;
        }
        a:hover{
            text-decoration: none !important;
            color: black;
        }
    }
    
}

