// 모든 페이지 공통
html,body,#root{ width : 100%; height : 100%; padding : 0 ; margin : 0; }

// 공통으로 쓰이는 유틸리티 scss 
$nav-heights : 56px;

.pt-nav-height{
    padding-top : $nav-heights;
}

.mt-nav-height{
    margin-top : $nav-heights;
}
